<div class="px-4 py-5 my-5 text-center odd-container" id="homepage-container">
  <h1 class="display-5 fw-bold">My Favourite Hoop Moves</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Have a look to my favourite hoop move collection!</p>
  </div>
</div>

<div class="px-4 py-5 my-5 text-center even-container" id="homepage-container">
  <h1 class="display-5 fw-bold">Selected Moves</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">A few moves from my collections</p>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% @ideas.each_with_index do |idea, index| %>
          <div class="carousel-item <%= 'active ' if index==0 %>">				
            <%= image_tag(idea.picture_url, width: 300) %>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<div class="px-4 py-5 my-5 text-center odd-container" id="homepage-container">
  <h1 class="display-5 fw-bold">About me</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">The story of a amateur aerialist.</p>
  </div>
</div>